* {margin: 0; padding: 0;}

* {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

#wrapper { 
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

/* NAV */
nav {
    position: relative;
    display: inline-flex;
    float: right;
    flex: 1;
    text-align: right;
}
 
/* Projects */
nav ul li{
    width: 30%;
    margin-top: 1%;
    list-style: none;
    display: inline-block;
}

/* LOGO */
.logo {
    display: inline-flex;
    float: left;
    width: 80%;
    height: 80%;
}

/* COLUMNS */
.column {
    position: relative;
    overflow: auto;
    float: left;
    width: 30%;
    padding-top: 5%;
    margin-left: 10%;
    line-height: 1.5em;
    z-index: -1000;
}

/* BACKGROUND */
body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(24, 1, 57);
    color: rgb(255, 255, 204);
}

/* HEADER */
h1 {
    color: white;
    text-align: left;
    width: 100%;
    margin-top: 6%;
    padding-bottom: 2%;
    display: inline-block;
    font-size: 300%;
}

/* unvisited link */
a:link {
    color: rgb(255, 255, 204);
}
  
/* visited link */
a:visited {
    color: rgb(255, 255, 204);
}
  
/* mouse over link */
a:hover {
    color: hotpink;
}

/* Taylor */
img {
    padding-top: 5%;
    width: 20%;
    height: 10%;
}

/* Bio */
p {
    text-align: left;
    line-height: 2em;
    padding-right: 200px;
    padding-left: 700px;
    padding-top: 30px;
}

/* Ancient Lakes */
.ancient {
    display: inline-flex;
    align-content: center;
    width: 500%;
}

/* FOOTER */
ul#footer {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding-top: 0%;
    text-align: center;
}